{
    "parser": "babel-eslint",
    "rules": {
        "max-len": [1, 78, 2, {}]
    },
    "extends": [
        "eslint:recommended",
        // "plugin:react/recommended",
    ],
    "env": {
        "browser": true,
    },
}
