/.coverage
/.eggs
/.installed.cfg
/.pip-sync
/.tox
/bin
/build
/develop-eggs
/development.sqlite
/development.sqlite-journal
/dist
/eggs
/include
/lib
/lib-python
/lib_pypy
/local
/node_modules
/notebooks/.ipynb_checkpoints
/parts
/pip-selfcheck.json
/pyvenv.cfg
/setuptools-*
/share
/site-packages
/testing.sqlite
.*.sw?
*.pyc
*.pyo
*$py.class
*.mo
*.egg-info
