/.coverage
/.eggs
/.installed.cfg
/.tox
/bin
/build
/develop-eggs
/dist
/eggs
/etc
/include
/lib
/lib-python
/lib_pypy
/local
/node_modules
/parts
/pip-selfcheck.json
/setuptools-*
/share
/site-packages
/var
MYAPP/static/theme/less/bootswatch.less
MYAPP/static/theme/less/variables.less
.*.sw?
*.pyc
*.pyo
*$py.class
*.mo
*.egg-info
