include COPYING
include CHANGES.rst
include Makefile
include README.rst
include *.py
include buildout.cfg
include requirements.txt
include tox.ini
prune MYAPP/bower_components
graft MYAPP/static
prune MYAPP/static/theme/css
prune MYAPP/static/theme/fonts
graft MYAPP/templates
global-exclude .*.sw?
